.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.tab-over{
  overflow-y: none;
  overflow-y: hidden;
}
.App-intro {
  font-size: large;
}
.div-resize{
   height: 80%;
   width:100%;
}
.App-map{
  
  /*changes map's top value*/
}
.result{
  word-wrap: break-word;
  max-width:70%;
  width:70%;
  margin-left: 20px;
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -webkit-pre-wrap; /*Chrome & Safari */ 
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
word-break: break-all;
white-space: normal;
}
.resultb{

  margin-left: 20px;
}
#static-map {
  width: 320px;
  height: 400px;
}
.App-show-result1 {
  -webkit-margin-start: 20%;
  text-align: center;
}
.map-img{

}
.App-img{
  height: 500px;
}
.fixer {
  width: 100%;
  overflow: hidden;
  height:500px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

  .slide {
   padding: "15px";
    min-height: "100";
    color: '#fff';
  },

  .slide-slide1 {
     padding: "16px";
    min-height: "100";
    color: '#fff';
    background: '#FEA900';
  }
  .slide-slide2 {
     padding: "15px";
    min-height: "100";
    color: '#fff';
    background: '#B3DC4A';
  }


.tabNav:active{
  background-color:"red";
}